<!DOCTYPE html>
<html>
    <head>
        <title>Results</title>
    </head>
    <body>
        <script src="static/js/socket.io.js"></script>
        <script src="static/js/jquery.min.js"></script>
        <script>
        $(document).ready(function(){
            var socket = io();
            
            socket.on('update', function(msg) {
                $('#log').empty();
                for (prop in msg.data) {
                    $('#log').append(`<li>${prop}: ${msg.data[prop]}</li>`);
                }
            });

            $('button').click(function(event) {
                socket.emit('run', $("#select-algo").val());
                return false;
            });

            $('form#broadcast').submit(function(event) {
                socket.emit('my broadcast event', {data: $('#broadcast_data').val()});
                return false;
            });


        });
        </script>
        <select id="select-algo">
            {% for algo in algos %}
            <option value="{{ algo }}"> {{ algo }} </option>
            {% endfor %}
        </select>
        <button>run</button>
        <ul id="log"></ul>
    </body>
</html>


