body {
    font-family: helvetica;
}

#main {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

#notif-list {
    position: fixed;
    right: 0;
    bottom: 0; 
}

.notif {
    background-color: black;
    color: white;
    font-size: .8em;
    padding: 1em;
    margin: 1em;
    text-align: center;
}
